[defaults]
inventory = inventory.ini
roles_path = ansible/roles
retry_files_enabled = False
host_key_checking = True
interpreter_python = /usr/bin/python3
local_tmp = .ansible/tmp

[ssh_connection]
pipelining = True
