---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: devops-prometheus
  labels:
    app.kubernetes.io/managed-by: devops-foundation
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ''
  claimRef:
    namespace: monitoring
    name: prometheus-data
  local:
    path: /var/lib/devops-foundation/prometheus
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ monitoring_node_hostname | to_json }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prometheus-data
  labels:
    app.kubernetes.io/managed-by: devops-foundation
  namespace: monitoring
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: ''
  volumeName: devops-prometheus
  resources:
    requests:
      storage: 5Gi
